*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #ccc;
    --white-color: #fff;
    --purple-color: #ba71da;
    --red-color: #f76570;
    --blue-color: #14b9d5;
    --green-color: #1bbc9b;
    --yellow-color: #ffd105;
    --orange-color: #f3a46b;
    --dark-orange-color: #e27557;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}