#background {
    background-image: url(../img/slider/index.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#header {
    display: flex;
    align-items: center;
    padding: 20px 50px;
}

